[Desktop Entry]
Name=JPEG Viewer
Comment=Fast and lightweight image viewer
Exec=jpeg_viewer %F
Icon=com.jpegviewer.JpegViewer
Terminal=false
Type=Application
Categories=Graphics;Viewer;
MimeType=image/jpeg;image/png;image/gif;image/bmp;image/webp;
StartupWMClass=jpeg_viewer
